# sphinxcontrib-golangdomain
sphinx>=2
sphinx-tabs
sphinxcontrib-plantuml
sphinx-copybutton
sphinxcontrib-contentui
sphinx-panels
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability